<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Uilliam Lawless</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- Background wrapper -->
    <div id="wrapper">
        <div id = "navbarWrap">
            <!-- Name/Title -->
            <div id="nameTitleDiv">
                <span id="nameTitle">Uilliam Lawless</span>
            </div>

            <!-- Navbar -->
            <div id="navbar">
                <div>
                    <a href="#projects">Projects</a>
                </div>
                <div>
                    <a href="#aboutMe" href="">About me</a>
                </div>
                <div>
                    <a href="">Links</a>
                </div>
            </div>
        </div>


        <!-- Photo/background -->
        <div id="background">
            <div id="myDesc">University of Wisconsin - Madison student studying Computer Science</div>
            <img id="selfie" src="images/boy.png">
        </div>

        <!-- Projects -->
        <div class="title">
            My Projects
        </div>
        <div id="projects">

            <div class="iconWrap">
                <div style="background-image: url(images/ratings2.png); background-size:cover" class="icon">
                    <div class="iconTextBg hid">
                        <div class="iconText"> A side project I made myself. Rate apartments/houses and leave reviews,
                            and search for properties in your area to see what others think before you sign a lease.
                            Made with ExpressJS (REST),
                            Mongoose, and Google Maps/Streetview APIs
                        </div>
                    </div>
                </div>
                <a href="https://raterentals.herokuapp.com" class="iconTitle" target=”_blank”>
                    Rate Rentals
                </a>
                <div>
                    <a href="https://github.com/liamlawless/RateRentals" class="codeButton" target=”_blank”>
                        Code
                    </a>
                </div>
            </div>
            <div class="iconWrap">
                <div class="icon" style="background-image: url(images/boardspace.png); background-size:100%">
                    <div class="iconTextBg hid">
                        <div class="iconText"> A class project I made with a couple others in our Software Development
                            course. Easily invite friends or colleagues to join on a collaborative drawing board to have
                            fun or explain ideas. Made with ExpressJS and SocketIO</div>
                    </div>
                </div>
                <div>
                    <a class="iconTitle" target=”_blank”>
                        Boardspace
                    </a>
                </div>
                <a href="https://github.com/andrew-bbq/BoardSpace" class="codeButton" target=”_blank”>
                    Code
                </a>
            </div>

            <div class="iconWrap">
                <div class="icon" style="background-image: url(images/bytes.png); background-size:100%">
                    <div class="iconTextBg hid">
                        <div class="iconText">A smaller project also made in my Software Development Class. It is a mock
                            site for a made up restaurant called Badger Bytes. Users can browse the menu, add items to a
                            cart, etc. Made with ExpressJS, SocketIO, and Mongoose.
                        </div>
                    </div>
                </div>
                <div class="iconTitle">
                    Badger Bytes
                </div>
                <div>
                    <a class="codeButton" href="https://github.com/andrew-bbq/BoardSpaceSpikeExercise"
                        target=”_blank”>Code</a>
                </div>
            </div>
        </div>

        <!-- About Me -->
        <div id="aboutMe">
            <div class="title">
                About me
            </div>
        </div>

         <!-- Links -->
         <div id="aboutMe">
            <div class="title">
                Links
            </div>
            <a href = "">Resume</a>
            <a href = "">Github</a>
            <a href = "https://www.linkedin.com/in/liam-lawless-4a838021a">Linkedin</a>
        </div>
    </div>
</body>
<script src="index.js"></script>

</html>