
body {
    margin: 0px;
    min-width:150px;
    overflow: auto;
    background: repeating-linear-gradient(-45deg,#D0D0D0, #D0D0D0 1px,#C0C0C0 7px, #C0C0C0 10px )
}

#wrapper {
    width: 800px;
    background-color: white;
    margin: auto;
    min-height: 100vh;
}

#backgroundImage {
    background-image: url(https://t3.ftcdn.net/jpg/00/35/83/68/360_F_35836841_wnzp77vcAIHKVQpUCnv7W736wrC6AuIx.jpg);
    width:100%;
    height:300px;
    background-size: cover;
    overflow: hidden;
    max-height: 300px;
    min-height: 0px;
    background-position: center;
}

.sticky {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}
@media screen and (max-width: 930px) {
    #wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 460px) {
    #wrapper {
        width: 100%;
    }
}

#nameTitleDiv {
    font-family: ostrich;
    font-size: 2em;
    width: 100%;
    text-align: center;
    padding:20px 0px;
    border-bottom: 1px solid lightgray;
}

#nameTitle {
    margin:auto;
}

#navbar {
    display:flex;
    justify-content: center;
    margin:5px 0px;
}

#navbar div {
    flex:.25;
    height:28px;
    margin:0px 5px;
    text-align: center;
    padding-top:5px;
    font-family: ostrich;
}

#meBack {
    display:flex;
    justify-content: flex-start;
}

#selfie {
    flex:.25;
    width: 25%;
    height:auto;
    padding-left: 10px;
}

#myDesc {
    font-family: adelle;
    flex:.75;
    margin:5px;
}

@media screen and (max-width: 700px) {
    #meBack {
        display:block;
        
    }
    #selfie {
        width:95%;
        height:auto;
        text-align: center;
    }
}

#projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom:  1px solid lightgray;
    padding-bottom: 20px;
}

#projects .iconWrap {
    border: 1px solid lightgray;
    margin:10px;
    height:250px;
    text-align: center;
}

.icon {
    width:300px;
    height: 175px;
    margin:10px;
    text-align: center;
    background-position: center;
    background-size:cover;
}

.iconText {
    color:white;
    background-color: black;
    font-family: adelle;
    padding:20px 10px;
}

.iconTextBg {
    background-color: black; position: relative; overflow: hidden;
}

.hid {
    visibility:hidden;
}
.hoverani {
    animation: hoverani 1s forwards; 
}

.unhoverani {
    animation:hoverani .5s reverse forwards;
}
@keyframes hoverani {
    from{opacity:0; top:100px; height: 40%;} to{opacity:1; top:0px; height: 100%;}
}

@font-face {
    font-family: league;
    src: url(fonts/leaguespartan.otf);
}
@font-face {
    font-family: ostrich;
    src: url(fonts/ostrichsans.otf);
}
@font-face {
    font-family: adelle;
    src: url(fonts/adelle.otf);
}

.iconTitle {
    font-family: ostrich;
    font-size:1.5em;
}

.iconTitle:hover {
    cursor: pointer;
    color:blue;
}

.codeButton {
    text-align: center;
    font-family: ostrich;
    font-size:.9em;
}

.codeButton:hover {
    cursor: pointer;
    color:blue;
}


@media screen and (max-width: 325px) {
     .icon {
        width:90%;
    }
    .iconText {
        padding:none;
        margin:none;
    }

}

a {
    text-decoration: none;
    color:black;
}
a:visited { text-decoration: none; }

.title {
    font-family: ostrich;
    font-size: 1.5em;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}

#links {
    text-align: center;
}

.linksLink {
    width:60px;
    text-align: center;
}

#linksFlex {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    margin: auto;
    height:50px;
}
.linkText {
    
    text-align: center;
    font-family: ostrich;
    font-size:.9em;
}

.linksLink:hover {

}

.sizeAni {
    animation: sizeani .25s forwards;
}

.resizeAni {
    animation: sizeani .25s reverse;
}
@keyframes sizeani {
    from{transform: scale(1);} to{transform: scale(1.5);}
}

#emailCopy:hover {
    cursor: copy;
}